@model WEBCRUDTESTING.Models.LoginModel
@{
    Layout = null;

    string pesanError = (string)ViewData["pesanError"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <form asp-controller="Login" asp-action="Login" method="post">
        <div class="form-control w-50 mx-auto mt-4">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="username" asp-for="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" asp-for="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>

            <!-- Submit button -->
            <div class="col text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>
            </div>
        </div>

    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@pesanError') {
                alert('@pesanError');   
            };
        })
    </script>

</body>
</html>

